<style>

@font-face {
  font-family: Knockout HTF49-Liteweight-Regular;
  src: url(Knockout-HTF49-Liteweight.otf);
}
@font-face {
  font-family: Knockout-92Ultimate Cruiserweight;
  src: url(Knockout-92UltimateCruiserweight.otf);
}
</style>
